*{
   margin:0;
}
nav{
    font-size : 1.7rem;
    color:white;
    background-color: black;
    padding:15px;
    margin-bottom:70px;
    
   
}
.box{
    width: 1600px;
}


li,ul
{
display:inline;
}

li{
    margin-left:6%;
    cursor: pointer;
}

ul{
    margin-left:5%;
}

li:hover{
    color:#C19A6B;
}
.header{
    display: flex;
    align-items: center; /* Aligns items vertically */
    padding:5px;  
}
.one{
    padding: 15px;
    width: 67%; 
    height: 30px;
    margin-left:10px;
    font-size:1.3rem;
}
.intro{
    padding:5px;
    display:flex;
    /*background-color: rgba(3, 130, 3, 0.453);*/

}
/*.head{
    font-family:"Lucida Handwriting", cursive;;
    font-size:1.5rem;
    background-color:#F2F0DF;
    /*background-color:#7C9D8E;
    margin-left:5px;
    width:400px;
    padding:40px;
    border-color:black;
    border-width:8px;
    border-style:double;*/
}
.nav-wrapper{
    margin-bottom:0px;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.bg-image{
    animation:fadein 1s ease-in;
}




.container {
    position: relative; /* positioning of child elements */
    margin-top: 70px;
    cursor:pointer;
    
}


.text{
    position: absolute; /* Overlay the text on the image */
    top: 15%; /*vertical alignment */
    right: 16%; /*horizontal alignment */
    color: black;
    text-align: left; /* Align text */
    animation:fadein 2s ease-in;
    
   
}

.title {
    font-size: 4rem;
    color: #C19A6B; 
    font-weight: bold;
    
}

.line{
    color:#C19A6B;
    font-weight:bold;
    font-size:2rem;
    margin-top:-3%;
    
}

.coco{
    font-size:2rem;
    color:#6F4E37;
    font-weight:bold;
    margin-top:2rem;
    font-family:Georgia;

    margin-bottom:1rem;
}


.description {
    font-size: 1.2rem;
    color: black;
    line-height: 1.5;
    font-family: Garamond;
}

.boxx:hover{
    background-color:#6f4e37a1;
    color:white;
    transform: scale(1.05); 
    
  
}

.boxes{
    margin-top: 140px;
    display:flex;
   
}

.boxx{
    margin-left:5%;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    display:inline-block;
    width:400px;
    height:530px;
    line-height: 1.5;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;  /* adde transition for smoothness*/
}
.ptag,.ptag2,.ptag3{
    font-family: georgia;
    padding:6%;}

.brown{
    margin-top:9%;
    position:absolute;
    cursor:pointer;
    
    
}

.texting{
    position:absolute;
    top:9%;
    left:8%;
    text-align:left;
    margin-left:4%;
}

.bite{
    color:#c19a6bf1;
    font-weight:bold;
    font-size:4rem;
    margin-bottom:-2%;
}

.chocom{
    color:#6F4E37;
    font-weight:bold;
    font-size:2rem;
    font-family: georgia;
    margin-bottom:4%;
}

.kodu{
    color:#c19a6bf3;
    font-weight:bold;
    font-size:2rem;
    margin-bottom:6%;

}

.sweet{
    font-size:1.3rem;
    font-family:Garamond;
    line-height:1.5;
    margin-top:2%;
    
}

.last{
    background-color: #6F4E37;
    margin-top:40%;
    width:1600px;
    height:400px;
    display:flex;
}

.b2,.b3,.b4{
    margin-left: 6%;
    margin-top:4%;
    line-height:2.2;
    font-size: 20px;
    color:white;
    font-family: Georgia;
}
.b1{
    margin-left: 4%;
    margin-top:4%;
    line-height:2.2;
    font-size: 20px;
    color:white;
    font-family: Georgia;
}

.imagee{
    padding-left:4%;
    padding-top:4%;
}



    